# Data Science Tools and Ecosystem
## Author
Sebastián Macías Vera

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are: 

1. Python
2. R Studio
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. SciPy
4. NumPy

| Data Science Tools | 
| -------------| 
| Jupyter Notebooks |
| R Studio | 
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [3]:
200/60

3.3333333333333335